/* Margin */
.m-horizontal {
  margin: 0 auto;
}

/* .section:not(:first-of-type) {
  padding-top: 60px;
} */

.section {
  margin-bottom: 100px;
}

/* .section:not(:last-of-type) {
  margin-bottom: 100px;
} */

@media (max-width: 768px) {
  .section:not(:last-of-type) {
    margin-bottom: 90px;
  }
}

/* Typography */
.gradient-text {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-image: var(--primary-gradient);
}

.section-title {
  font-size: 48px;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 61px;
}

.section-description {
  font-size: 21px;
  color: var(--primary-color);
  line-height: 27px;
  font-weight: 400;
}
.text-regular {
  font-size: 21px;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 51px;
  }

  .section-description {
    font-size: 18px;
    line-height: 23px;
  }
  .text-regular {
    font-size: 16px;
  }
}

/* Elements only showed on desktop */
@media (max-width: 1200px) {
  .desktop-only {
    display: none;
  }
}

@media (max-width: 768px) {
  .lg-only {
    display: none;
  }
}
