.text-container {
    position: relative;
    align-items: center;
    text-align: center;
}

.figure-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.feature-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.pic-container {
    max-width: 500px;
    max-height: 300px;
    overflow: hidden;
    margin: auto;
}


@media (max-width: 991px) {
    .figure-container {
        display: block;
    }

    .pic-container {
        align-items: center;
        margin: 30px auto;
    }
  }