.card {
    width: 15rem;
    border: 0;
    background-color:  var(--bg-color);
    text-align: center;
    align-items: center;
    margin: 0 auto 50px;
}

.card-img {
    width: 150px;
}

.card-title {
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin: 5px auto 20px;
}

.button {
    align-items: center;
}

.list-heading {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.list-sub {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .card-img {
        width: 100px;
    }
  }